 body {
     border-radius: 30px;
     height: 100%;
     display: flex;


     background-color: rgb(46, 107, 107);
     font-size: larger;
     font-family: sans-serif;
     color: rgb(218, 218, 22);
 }

 button {

     padding: 5;
     border-radius: 10px;
     margin-right: 10%;
     margin-bottom: 10%;
     margin-top: 10%;
     margin-left: 10%;
 }

 button:hover {

     background-color: rgb(255, 255, 255);
 }

 .result {
     border-radius: 30px;
     background: #eee;
     color: #333;
     font-size: 4rem;

     padding: 20 px;
     text-align: center;

     bottom: 0;
     left: 50%;

 }

 .number {
     border-radius: 30px;
     overflow: hidden;
     padding: 20 px;
 }

 p {
     margin-left: 24%;
 }